<%= render 'shared/errors', obj: @user %>
<div class="page-header">
  <h3>Edit Profile<small> - it looks like you need some editing!</small></h3>
</div>

<div class="well">
  <%= render "form" %>
</div>
