<%= render 'shared/errors', obj: @user %>
<div class="page-header">
  <h3>Register<small> - sign-up to get started, it's free and you can link your Github profile!</small></h3>
</div>

<div class="well">
  <%= render "form" %>
  <hr>
  <small><%= link_to 'Already Registered?', login_path %></small>
</div>  

