/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$baseFontFamily: Roboto;
@import url(http://fonts.googleapis.com/css?family=Roboto);

@import "bootstrap";

/********** Generic Items **********/

body {
  padding-top: 60px;
  margin-bottom: 100px;
}

body a:link {
  text-decoration: none;
 }

.page-header {
  margin: 20px 0 25px 0;
  border-bottom: 2px solid #eeeeee;
 }

 h4 {
  color: #0088cc;
 }

#flash_messages {
  margin-top: 15px;
 }

 #glyphs {
  margin-right: 2px;
 }

 #user_glyphs {
  margin: 2px 8px 0 0;
 }

#all_comments {
  margin: 20px 0 25px;
  border-bottom: 2px solid #eeeeee;
 }

.button {
  margin-top: 4px;
}

.votes {
  margin: 12px 0 10px 0;
}

/********** Header **********/

.hero-unit {
  padding: 30px;
  margin-top: 20px;
}

hr {
  margin: 5px 0;
  border-top: 2px solid #eeeeee;
}

/********** Nav-Menu **********/

.navbar .brand {
  color: #fff;
  text-shadow: none;
  margin-top: 5px;
}

.navbar-inner {
  background: none;
  border: none;
  box-shadow: none;

  background-color: #2d3538;

  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
  margin-top: 5px;
}

.navbar .nav > li > a:hover {
  color: #999;
}

.navbar .nav .active > a {
  color: #999;
  background: none;
  box-shadow: none;
}

.navbar .nav .active > a:hover {
  background: none;
  box-shadow: none;
}

.navbar .divider-vertical {
  border-left: 1px solid #1c2022;
  border-right: 1px solid #3e4a4e;
  height: 52px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #2d3538;
  color: #999;
}

.navbar .nav .dropdown-toggle .caret {
  margin: 8px 0 0 8px;
}

/********** Main Content **********/

#post_feed {
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 25px;
  margin-top: -25px;
  padding: 7px 7px;
 }

#post_feed:hover {
  background: #f6f9fa;
 }

 #show_post {
  border-bottom: none;
 }

#comment_feed {
  border-bottom: solid 2px #eeeeee;
  padding: 7px 7px;
  margin-bottom: 25px;
  margin-top: -25px;
 }

#comment_feed:hover {
  background: #f6f9fa;
 }

#post_feed_user_profile {
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 7px 7px;
 }

#post_feed_user_profile:hover {
  background: #f6f9fa;
}

#comment_feed_user_profile {
  border-bottom: solid 2px #eeeeee;
  padding: 7px 7px;
  margin-bottom: 10px;
  margin-top: -10px;
}

#comment_feed_user_profile:hover {
  background: #f6f9fa;
}

#category_feed {
  border-bottom: solid 2px #eeeeee;
  margin-bottom: 25px;
  margin-top: -25px;
  padding: 7px 7px;
 }

#category_feed:hover {
  background: #f6f9fa;
 }

.page-header#category_header a {
  color: #333333;
 }

.page-header#category_header a:hover {
  color: #0088cc;
 }

.badge {
  margin: 10px 5px 10px 0;
  padding-bottom: 5px;
  background-color: #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 }

 .badge a {
  color: #fff;
 }

 .badge:hover {
  background-color: #0088cc;
 }

 #user_show_icon {
  margin-top: 2px;
 }

/********** Footer **********/

.footer {
  padding: 3px;
  background-color: #2d3538;
}

.footer a {
  color: #999;
}

.footer h6 {
  color: #999;
}

@import "bootstrap-responsive";
