<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container footer text-center">
      <h6>Developed by <%= link_to "Marco Roman", about_path %></h6>
    </div>
  </div>
</div>
